.logo {
    width: 8%;
}

.header {
    position: sticky;
    top: 0;
}

/* Optional: Adjust avatar spacing or dropdown appearance */
.avatar img {
    border-radius: 50%;
}

.dropdown-content li a:hover {
    background-color: #e2e8f0;
    /* Adjust hover background */
}

/* Show the dropdown when 'dropdown-open' is applied */
.dropdown.dropdown-open .dropdown-content {
    display: block;
}

/* Hide the dropdown by default */
.dropdown .dropdown-content {
    display: none;
}

.navbar-profile {
    display: flex;
    align-items: center;
}

.navbar-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar-profile-name {
    margin-left: 10px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-item {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

.nav-item:hover .dropdown-menu {
    display: block;
}
