<div class="navbar bg-purple text-neutral-content">
    <div class="logo flex-none">
        <img src="images\logo2.png" alt="Logo" />
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="library">Library</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="contact">Contact Us</a></li>
            <li><label for="auth-modal">Login</label></li>
        </ul>
    </div>
</div>
<app-register></app-register>
