<h1 class="header text-center stacked-text mt-5">
    <span class="inline-block text-5xl bg-clip-text text-transparent ft">
      About Us
    </span>
  </h1>
  <div class="content-container">
    <div class="image-left">
      <img src="/images/about.png" alt="About BookHeaven">
    </div>
    <div class="text-content">
      <p class="text-lg mb-5 mt-2">
        Welcome to BookHeaven, your premier destination for books in English, Hindi, and Gujarati. Whether you're searching for your next literary escape, a cozy spot to browse, or a community event to attend, BookHeaven is here to make every visit a memorable experience.
        <br/><br/>
        Join us in celebrating the magic of books and the joy of reading! We're passionate about spreading the joy of reading and making literature accessible to everyone. Our mission is to provide a vast collection of books that cater to diverse tastes and interests.
        <br/><br/>
        From classics to contemporary bestsellers, our shelves are stocked with an impressive selection of fiction, non-fiction, biographies, self-help, and children's books.
      </p>
      <a href="library" class="btn glass">Explore Our Collection</a>
    </div>
  </div>