.space {
  margin-left: 650px;
}

.cover {
  color: #470829;
  margin-block-end: 0.67em;

}

.btn {
  background-color: #470829;
  color: white;
}

.btn:hover {
  background-color: #A17062;
}

.ts {
  font-size: x-large;
}

.ft {
  font-family: Cursive;
  font-size: 45px;
}

.brand {
  width: 15%;
}

.stacked-text {
  position: relative;
}

.stacked-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to bottom, #cc2b5e, #753a88);
  background-clip: text;
  color: transparent;
  transform: translateY(-10px);
}

.stacked-text span:first-child {
  color: #cc2b5e;
}

.stacked-text span:last-child {
  color: #470829;
}

.text-center1 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.text-center1::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #cc2b5e;
  margin: 10px auto;
  transition: width 0.3s ease-in-out;
}

.text-center1:hover::after {
  width: 50px;
}

.text-lg {
  color: #470829;
}

.container {
  background-color: var(--fallback-b1, oklch(var(--b1) / 1));
  color: var(--fallback-bc, oklch(var(--bc) / 1));
}