<div class="place-content-baseline">
  <footer class="footer text-neutral-content items-center mt-2 p-2">
    <aside class="flex flex-col sm:flex-row justify-between items-center w-full">
      <div class="flex items-center space-x-2">
        <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
          clip-rule="evenodd" class="fill-current">
        </svg>
        <div class="logo">
          <img src="images/logo2.png" alt="Logo" />
        </div>
      </div>
      <div class="text-footer mt-2 sm:mt-0">
        <p class="text-center sm:text-left">Copyrights ©Pin&Jin - All rights reserved</p>
      </div>
    </aside>
  </footer>
</div>
<!-- try -->