.logo{
    width: 15%;
}
.text-footer{
        margin-left: 150px;
}
.footer{
    background-color: #470829;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; */
}